* {
  /* outline: dashed red 1px; */
  font-family: Arial, Helvetica, sans-serif;
  color: #d61c4e;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fac213;
  color: #d61c4e;
  flex-wrap: wrap;
}
h1 {
  font-size: 45px;
  text-decoration-line: underline;
  text-decoration-color: #d61c4e;
}

#subhead {
  height: 225px;
  display: flex;
  justify-content: end;
  align-items: end;
  background: url(https://cdn.wallpapersafari.com/82/62/XIfisO.jpg);
  background-position: center center;
  object-fit: cover;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}
.content header {
  width: 20%;
  text-align: end;
  padding-right: 10px;
}
.content div {
  width: 75%;
  text-align: left;
  padding-left: 50px;
  border-left: solid red 5px;
}
.content top {
  display: flex;
  align-items: center;
  height: fit-content;
}
.content below {
  display: flex;
  justify-content: space-between;
}

#contact-me p a {
  display: flex;
  justify-content: space-between;
}
a:hover {
  background-color: rgb(249, 249, 197, 0.5);
}
img:hover {
  background-color: rgb(249, 249, 197, 0.5);
}
